﻿
@{
    ViewBag.Title = "Officers";
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Officials List</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool add-official">
                <i class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-hover table-striped officials-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Committee</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section contentHeader {
    <section class="content-header">
        <h1>
            Manage Officials
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Officials</li>
        </ol>
    </section>
}

@section styles {
    <link href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/app/utility.js"></script>
    <script src="~/Scripts/app/admin-spofficials-index.js"></script>
}