﻿
@{
    ViewBag.Title = "Album";
}

@section profileBg {
    <div class="album-info-header-container">
        <div class="container">
            <div class="album-info-header">
                <div class="album-info-title">
                    <h1>Album Title</h1>
                </div>
                <div class="album-info-description">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Vestibulum vestibulum, orci non egestas consequat, ipsum nisi aliquam neque, commodo facilisis arcu mi sed ante.</p>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                @*<span>Gallery</span>*@
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="lightGallery">
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/1.jpg" data-exthumbimage="/img/albums/1.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/1.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/2.jpg" data-exthumbimage="/img/albums/2.jpg" data-sub-html="#caption2">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/2.jpg);"></div>
                            </div>
                            <div id="caption2" style="display:none">
                                <h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/3.jpg" data-exthumbimage="/img/albums/3.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/3.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/4.jpg" data-exthumbimage="/img/news/4.jpg" data-sub-html="#caption4">
                                <div class="thumbnail-img" style="background-image: url(../img/news/4.jpg);"></div>
                            </div>
                            <div id="caption4" style="display:none">
                                <h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/5.jpg" data-exthumbimage="/img/news/5.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/5.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/6.jpg" data-exthumbimage="/img/news/6.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/6.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/7.jpg" data-exthumbimage="/img/news/7.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/7.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/8.jpg" data-exthumbimage="/img/news/8.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/8.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/1.jpg" data-exthumbimage="/img/albums/1.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/1.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/2.jpg" data-exthumbimage="/img/albums/2.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/2.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/albums/3.jpg" data-exthumbimage="/img/albums/3.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/albums/3.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/4.jpg" data-exthumbimage="/img/news/4.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/4.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/5.jpg" data-exthumbimage="/img/news/5.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/5.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/6.jpg" data-exthumbimage="/img/news/6.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/6.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/7.jpg" data-exthumbimage="/img/news/7.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/7.jpg);"></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="thumbnail" data-src="/img/news/8.jpg" data-exthumbimage="/img/news/8.jpg">
                                <div class="thumbnail-img" style="background-image: url(../img/news/8.jpg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    @*@Styles.Render("~/bundles/lightGalleryCss")*@
    <link href="~/bower_components/lightgallery/dist/css/lightgallery.min.css" rel="stylesheet" />
    <link href="~/bower_components/lightgallery/dist/css/lg-transitions.min.css" rel="stylesheet" />
}

@section scripts {
    @*@Scripts.Render("~/bundles/lightGalleryJs")*@
    <script src="~/bower_components/lightgallery/dist/js/lightgallery-all.min.js"></script>
    <script src="~/Scripts/app/gallery-album.js"></script>
}

