﻿
@{
    ViewBag.Title = "Gallery";
}

<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Gallery</span>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/1.jpg);"></div>
                            <div class="caption">
                                <h3 class="truncate">This is a very long album name. This is a very long album name. hgfhfhfhg hfdhj hd hfc d gh</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/2.jpg);"></div>
                            <div class="caption">
                                <h3>Project Two</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/3.jpg);"></div>
                            <div class="caption">
                                <h3>Project Three</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/news/4.jpg);"></div>
                            <div class="caption">
                                <h3>Project Four</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/news/5.jpg);"></div>
                            <div class="caption">
                                <h3>Program One</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/news/6.jpg);"></div>
                            <div class="caption">
                                <h3>Program Two</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/news/7.jpg);"></div>
                            <div class="caption">
                                <h3>Project Five</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/news/8.jpg);"></div>
                            <div class="caption">
                                <h3>Program Three</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Ve...
                                </p>
                                <p class="card-buttons"><a href="/gallery/album" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>