﻿@font-face {
    font-family: "SF UI Display";
    src: url(../fonts/sf-ui-dsiplay-medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url(../fonts/sf-ui-display-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

.banner-image-container {
    background-image: url(https://jpn48q-sn3301.files.1drv.com/y4mevCmh6cDvcZDXieFPe1oz4v2AqUwJtYM7jW9Lm0pwR3JmmKo25xfD4x87HuN5sdAPOckiIeI1fwKMRrJqB8uNsi4Mjf-LJ3Q3fJsFkDxtNS763oy-PkKv0-8vlFf9qkysGag4cLlb7x8jO46anNH6jpMFcj2idsjXjLnqfVP0XSZM93-Uq-oQuPCiPl2TgtunMM6_n4pMV-HLteCeldiew?width=3887&height=2186&cropmode=none);
    width: 100%;
    height: 80vh;
    background-size: cover;
    position: relative;
}

.btn-primary-darker {
    background-color: ;
}

.banner-image-header {
    margin-top: 25px;
}

.vm-profile-picture {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: inline-block;
}

.logo-container .logo {
    background-image: url(../img/favicons/android-chrome-192x192.png);
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-title {
    font-size: 17px;
    color: white;
    line-height: 1.2;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.footer-logo {
    background-image: url(../img/coat_of_arms_of_the_philippines_opt.png);
    display: block;
    width: 130px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    float: left;
    margin-right: 25px;
}

.logo-container {
    display: flex;
}

    .logo-container h1 {
        margin: 10px 0;
        color: #fff;
    }

.landing-page-nav {
    padding-top: 13px;
}

    .landing-page-nav a {
        color: white;
    }

        .landing-page-nav a:hover, .landing-page-nav a:focus {
            color: rgba(23, 51, 75, 0.98);
        }

.welcome-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 10em;
    width: 85%;
    text-align: center;
    color: white;
}

    .welcome-text h2 {
        font-size: 50px;
    }

.content-body-header {
    text-align: center;
    padding-bottom: 65px;
}

.expo-header {
    text-align: center;
    margin-bottom: 30px;
}

.content-body {
    background-color: rgba(224, 224, 224, 0.41);
}

.expo-desc p {
    text-indent: 50px;
}

.landing-page-footer {
    height: auto;
    background-color: #272727;
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-logo-text {
    color: #7b7b7b;
    float: left;
    width: 200px;
}

    .footer-logo-text a {
        color: #7b7b7b;
        text-decoration: none;
    }

.footer-links {
    color: #7b7b7b;
}

    .footer-links .gov {
        list-style: none;
        margin-left: -40px;
    }

    .footer-links .about {
        list-style: none;
        margin-left: -40px;
        width: 340px;
    }

    .footer-links a {
        color: #7b7b7b;
        text-decoration: none;
    }

.sign-up-buttons {
    text-align: center;
}

.sign-up-button-container {
    padding-top: 70px;
}

.content-body-container {
    padding-top: 70px;
}

@media screen and (min-width: 1360px) and (max-width: 1400px) and (max-height: 768px) {
    .banner-image-container {
        height: 100vh;
    }

    .banner-image-header {
        margin-top: 30px;
    }
}

.section-title span {
    line-height: 57px;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: inline-block;
}

.section-title > span:after {
    content: "";
    border-bottom: solid 6px #b0163b;
    position: absolute;
    width: 85%;
    bottom: -10px;
    left: 0;
}

.vm-header {
    padding-top: 40px;
    background-color: #e6e6e6;
}

.vm-title {
    margin-bottom: 30px;
}

.vm-title span {
    line-height: 57px;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: inline-block;
}

.vm-title > span:after {
    content: "";
    border-bottom: solid 6px #b0163b;
    position: absolute;
    width: 85%;
    bottom: -10px;
    left: 0;
}

.vm-title p {
    margin-top: 25px;
    font-size: 23px;
    line-height: 1;
}

.section-content {
    margin-top: 40px;
}

.section {
    margin-bottom: 80px;
}

.featured-news-image {
    width: 100%;
    height: 460px;
    background-size: cover;
    position: relative;
}

.timestamp {
    color: gray;
}

.featured-news-container {
    padding-top: 20px;
}

.featured-news-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.2;
}

    .featured-news-title > a {
        text-decoration: none;
    }

.featured-news-description {
    font-size: 18px;
}

    .featured-news-description p {
        padding-bottom: 15px;
    }

.news-image {
    width: 100%;
    height: 20vh;
    background-size: cover;
    position: relative;
}

.news-container {
    /*padding-bottom: 30px;*/
}

.news-title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.2;
}

    .news-title > a {
        text-decoration: none;
    }


.menu-button {
    margin-top: 25px;
    right: 0;
    position: absolute;
}


.search-form-container {
    position: absolute;
    width: 0;
    right: 43px;
    opacity: 0;
    z-index: -1000;
    transition: all 0.3s ease-in-out;
}

    .search-form-container input {
        height: 50px;
        font-size: 18px;
        border-color: transparent;
        box-shadow: none;
        width: 100%;
        float: right;
    }

    .search-form-container.search-input-visible {
        opacity: 1;
        z-index: 1000;
        width: 600px
    }

.nav-item {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

    .nav-item.nav-item-hidden {
        opacity: 0;
    }

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .menu-button {
        right: 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .welcome-text {
        height: 15em;
    }

    .vm-title {
        margin-top: 30px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .welcome-text {
        height: 20em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .banner-image-header {
        margin-top: 0;
    }

    .logo-title {
        font-size: 16px;
        padding-top: 6px;
    }

    .logo-container .logo {
        width: 50px;
        height: 50px;
    }

        .welcome-text h2 {
            font-size: 44px;
        }

    .menu-button {
        margin-top: 15px;
    }

    .section-title span {
        font-size: 35px;
    }

    .vm-title span {
        font-size: 35px;
    }

    .vm-title p {
        font-size: 20px;
    }

    .featured-news-title {
        font-size: 25px;
    }

    .news-title {
        font-size: 22px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


/* bootstrap overrides */

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #bbb;
}

hr {
    border-top: 1px solid #ccc;
}

.dropdown-menu {
    border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: rgba(23, 51, 75, 0.98);
    background-color: #fff;
}

.banner-image-header .navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.banner-image-header .navbar-brand {
    height: 100px;
}

.banner-image-header .nav > li {
    padding: 24px 0;
}

    .banner-image-header .nav > li > a {
        color: #fff
    }

.banner-image-header .navbar-default .navbar-nav > .open > a, .banner-image-header .navbar-default .navbar-nav > .open > a:hover, .banner-image-header .navbar-default .navbar-nav > .open > a:focus, .banner-image-header .navbar-default .navbar-nav > .active > a, .banner-image-header .navbar-default .navbar-nav > .active > a:hover, .banner-image-header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
}

.banner-image-header .navbar-default .navbar-nav > li > a:hover, .banner-image-header .navbar-default .navbar-nav > li > a:focus {
    color: rgba(23, 51, 75, 0.98);
    background-color: #fff;
}

.banner-image-header .dropdown-menu {
    top: 72%;
}

.menu-button .btn-default {
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}

    .menu-button .btn-default:focus {
        background-color: transparent !important;
        color: #fff !important;
        border-color: transparent !important;
    }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: transparent !important;
    color: #fff !important;
    border-color: transparent !important;
}

.menu-button .level-one.dropdown-menu {
    top: 63px;
    left: initial;
    right: 0;
    width: 250px;
}

.menu-button .btn {
    font-size: 25px;
}

.menu-button.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.26);
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 26px;
        left: inherit;
        margin-top: -1px;
    }

.level-two.dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    margin-left: 15px;
}

.menu-button .dropdown-menu > li > a {
    padding: 15px 15px;
}

.search-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.banner-image-container .search-button {
    transition: all 316.8ms ease-in-out;
}