﻿@font-face {
    font-family: "SF UI Display";
    src: url(../fonts/sf-ui-dsiplay-medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url(../fonts/sf-ui-display-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url(../fonts/sf-ui-display-light.ttf);
    font-weight: 100;
    font-style: normal;
}

.banner-image-container {
    width: 100%;
    height: 100px;
    background-size: cover;
    position: relative;
    background-color: #112e51;
}

.banner-image-header {
    /*margin-top: 25px;*/
}

.logo-container .logo {
    background-image: url(../img/favicons/android-chrome-192x192.png);
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-title {
    font-size: 17px;
    color: white;
    line-height: 1.2;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.footer-logo {
    background-image: url(../img/coat_of_arms_of_the_philippines_opt.png);
    display: block;
    width: 130px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    float: left;
    margin-right: 25px;
}

.logo-container {
    display: flex;
}

    .logo-container h1 {
        margin: 10px 0;
        color: #fff;
    }

.landing-page-nav {
    padding-top: 13px;
}

    .landing-page-nav a {
        color: white;
    }

        .landing-page-nav a:hover, .landing-page-nav a:focus {
            color: rgba(23, 51, 75, 0.98);
        }

.welcome-text {
    text-align: center;
    padding-top: 185px;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

    .welcome-text h2 {
        font-size: 50px;
    }

.content-body-header {
    text-align: center;
    padding-bottom: 65px;
}

.expo-header {
    text-align: center;
    margin-bottom: 30px;
}

.content-body {
    background-color: rgba(224, 224, 224, 0.41);
}

.expo-desc p {
    text-indent: 50px;
}

.landing-page-footer {
    height: auto;
    background-color: #272727;
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-logo-text {
    color: #7b7b7b;
    float: left;
    width: 200px;
}

    .footer-logo-text a {
        color: #7b7b7b;
        text-decoration: none;
    }

.footer-links {
    color: #7b7b7b;
}

    .footer-links .gov {
        list-style: none;
        margin-left: -40px;
    }

    .footer-links .about {
        list-style: none;
        margin-left: -40px;
        width: 340px;
    }

    .footer-links a {
        color: #7b7b7b;
        text-decoration: none;
    }

.sign-up-buttons {
    text-align: center;
}

.sign-up-button-container {
    padding-top: 70px;
}

.content-body-container {
    padding-top: 40px;
}

/*@media screen and (min-width: 1360px) and (max-width: 1400px) and (max-height: 768px) {
    .banner-image-container {
        height: 21vh;
    }

    .banner-image-header {
        margin-top: 30px;
    }

    .welcome-text {
        padding-top: 150px;
    }
}*/

.name {
    font-size: 45px;
}

.section-title span {
    line-height: 57px;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: inline-block;
}

.article-title {
    line-height: 57px;
    font-size: 44px;
    color: #292929;
    position: relative;
    display: inline-block;
}

.sharing-options {
    margin-top: 20px;
}

    .sharing-options i {
        padding: 5px 10px 5px 0;
    }

    .sharing-options button {
        padding-left: 15px;
        padding-right: 20px;
        color: #fff;
    }

        .sharing-options button:hover {
            color: #fff;
        }

.btn-facebook {
    background-color: #3b5998;
}

    .btn-facebook:hover {
        background-color: #334978;
    }

.btn-twitter {
    background-color: #55acee;
}

    .btn-twitter:hover {
        background-color: #4c93c8;
    }

.btn-gplus {
    background-color: #dd4b39;
}

    .btn-gplus:hover {
        background-color: #ba4233;
    }

.btn-email {
    background-color: rgba(23, 51, 75, 0.98);
}

    .btn-email:hover {
        background-color: rgba(20, 41, 59, 0.98);
    }

.article-short-desc {
    margin-top: 15px;
    font-size: 18px;
}

.article-author {
    color: #ababab;
}

.article-content {
    margin-top: 40px;
}

.article-content-body {
    font-size: 17px;
}

.article-content-featured-image-container {
    margin-bottom: 30px;
}

.article-content-featured-image {
    width: 100%;
    height: 50vh;
    display: block;
}

.article-section {
    margin-bottom: 40px;
}

    .article-section .news-title {
        font-size: 22px;
    }

.section-title > span:after {
    content: "";
    border-bottom: solid 6px #b0163b;
    position: absolute;
    width: 85%;
    bottom: -10px;
    left: 0;
}

.committee > span:after {
    content: "";
    border-top: solid 6px #b0163b;
    position: absolute;
    width: 85%;
    bottom: 40px;
    left: 0;
}

.committee {
    line-height: 37px;
    color: #292929;
    position: relative;
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
}

.section-content {
    margin-top: 40px;
}

.section {
    margin-bottom: 80px;
}

.section-right {
    margin-top: 97px;
    margin-bottom: 80px;
}

.profile-picture-container {
    max-width: 210px;
    max-height: 210px;
    margin-right: auto;
}

    .profile-picture-container a {
        border-radius: 180px;
    }

.profile-picture {
    display: block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 180px;
}

.thumbnail-profile-picture {
    display: block;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 5px;
}

.contacts-info {
    margin-top: 20px;
}

    .contacts-info .fa {
        display: table-cell;
        width: 16px;
        margin-right: 8px;
        text-align: center;
        color: #969696;
    }

    .contacts-info .info-text {
        display: table-cell;
        padding-left: 8px;
        height: 18px;
    }

    .contacts-info .info {
        margin-right: 30px;
    }

.profile-info {
    margin-top: 25px;
}

.profile-info-header {
    /*height: 250px;*/
    margin-top: 40px;
}

.profile-info-header-bg {
    position: relative;
    background-color: #e6e6e6;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.truncate {
    /*width: 335px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail-img {
    display: block;
    width: 100%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100%;
}

.grid[data-columns]::before {
    content: '3 .column.size-1of3';
}

.column {
    float: left;
}

.size-1of3 {
    width: 33.333%;
}

.grid {
    margin-left: -15px;
    margin-right: -15px;
}

.item {
    margin: 15px 15px 25px 15px;
}

.officials-grid .caption p {
    font-size: 18px;
}

.officials-grid .caption hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 6px solid #ccc;
    width: 80%;
}

.thumbnail-button-container {
    margin-top: 25px;
}

.featured-news-image {
    width: 100%;
    height: 460px;
    background-size: cover;
    position: relative;
}

.featured-news-container {
    padding-top: 20px;
}

.featured-news-title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.2;
}

    .featured-news-title > a {
        text-decoration: none;
    }

.featured-news-description {
    font-size: 18px;
}

    .featured-news-description p {
        padding-bottom: 15px;
    }

.timestamp {
    color: gray;
}

.news-image {
    width: 100%;
    height: 195px;
    background-size: cover;
    position: relative;
}

.news-container {
    padding-top: 7px;
}

.news-title {
    margin-bottom: 9px;
    font-size: 25px;
    line-height: 1.2;
}

    .news-title > a {
        text-decoration: none;
    }

.news-item {
    padding-bottom: 30px;
}

.menu-button {
    margin-top: 30px;
    right: 0;
    position: absolute;
}

.profile-picture-container .thumbnail {
    margin-bottom: 0;
}

.card-buttons {
    text-align: center;
    margin-top: 15px
}

.search-form-container {
    position: absolute;
    width: 0;
    right: 43px;
    opacity: 0;
    z-index: -1000;
    transition: all 0.3s ease-in-out;
}

    .search-form-container input {
        height: 50px;
        font-size: 18px;
        border-color: transparent;
        box-shadow: none;
        width: 100%;
        float: right;
    }

    .search-form-container.search-input-visible {
        opacity: 1;
        z-index: 1000;
        width: 600px
    }

.nav-item {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

    .nav-item.nav-item-hidden {
        opacity: 0;
    }

.album-info-header-container {
    position: relative;
    background-color: #e6e6e6;
    width: 100%;
    height: auto;
}

.album-info-header {
    position: relative;
    width: 50vw;
    text-align: center;
    color: #000;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: auto;
}

.album-info-title h1 {
    margin-top: 5px;
}

.album-info-description {
    color: #636c72;
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .menu-button {
        right: 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .committee {
        line-height: 35px;
    }

    .profile-picture-container {
        max-width: 160px;
        max-height: 160px;
        margin-top: 25px;
    }

    .profile-picture {
        width: 148px;
        height: 148px;
    }

    .committee > span:after {
        bottom: 76px;
    }

    .profile-info {
        margin-top: 5px;
    }

    .profile-info-header {
        margin-top: 20px;
    }

    .album-info-header {
        width: 80vw;
    }

    .sharing-options button {
        padding-right: 15px;
    }

    .sharing-options i {
        padding: 5px;
        width: 25px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .committee > span:after {
        width: 100%;
        bottom: 40px;
    }

    .profile-info-container {
        text-align: center;
    }

    /*.profile-info-header-bg {
        height: 435px;
    }*/

    .profile-info-header-container {
        /*margin-bottom: 115px;*/
    }

    .profile-picture-container {
        margin-left: auto;
        margin-top: 12px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }


    .profile-info-header {
        margin-top: 40px;
    }

    .article-title {
        line-height: 48px;
        font-size: 44px;
    }
}

@media only screen and (max-width : 672px) {
    .committee > span:after {
        /*bottom: 75px;*/
    }

    .profile-picture-container {
        margin-top: 0;
    }

    .profile-info-header-container {
        /*margin-bottom: 145px;*/
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .banner-image-container {
        height: 80px;
    }

    .banner-image-header {
        margin-top: 0;
    }

    .logo-title {
        font-size: 16px;
        padding-top: 6px;
    }

    .logo-container .logo {
        width: 50px;
        height: 50px;
    }

    .welcome-text {
        padding-top: 0;
    }

        .welcome-text h2 {
            font-size: 44px;
        }

    .menu-button {
        margin-top: 15px;
    }

    .committee > span:after {
        bottom: 66px;
    }

    .profile-picture-container {
        margin-top: 0;
    }

    .name {
        font-size: 35px;
    }

    .committee {
        font-size: 20px;
        line-height: 30px;
        margin-top: 15px;
    }

    .section-title span {
        font-size: 35px;
    }

    .featured-news-title {
        font-size: 25px;
    }

    .featured-news-description {
        font-size: 16px;
    }

    .news-title {
        font-size: 22px;
    }
}

@media only screen and (max-width : 455px) {
    .name {
        line-height: 50px
    }

    /*.profile-info-header-bg {
        height: 475px;
    }*/

    .contacts-info .info {
        margin-right: 10px;
        margin-left: 10px;
    }

    .profile-info-header-container {
        /*margin-bottom: 195px;*/
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}


/* lightGallery overrides */

.lg-outer .lg-image {
    max-width: 100%;
    max-height: 85%;
}

/* bootstrap overrides */
.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #bbb;
}

hr {
    border-top: 1px solid #ccc;
}

.dropdown-menu {
    border: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: rgba(23, 51, 75, 0.98);
    background-color: #fff;
}

.caption h3 {
    font-size: 20px;
}

.banner-image-header .navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.banner-image-header .navbar-brand {
    height: 100px;
}

.banner-image-header .nav > li {
    padding: 25px 0;
}

    .banner-image-header .nav > li > a {
        color: #fff
    }

.banner-image-header .navbar-default .navbar-nav > .open > a, .banner-image-header .navbar-default .navbar-nav > .open > a:hover, .banner-image-header .navbar-default .navbar-nav > .open > a:focus, .banner-image-header .navbar-default .navbar-nav > .active > a, .banner-image-header .navbar-default .navbar-nav > .active > a:hover, .banner-image-header .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
}

.banner-image-header .navbar-default .navbar-nav > li > a:hover, .banner-image-header .navbar-default .navbar-nav > li > a:focus {
    color: rgba(23, 51, 75, 0.98);
    background-color: #fff;
}

.banner-image-header .dropdown-menu {
    top: 72%;
}

.menu-button .btn-default {
    background-color: transparent;
    color: #fff;
    border-color: transparent;
}

    .menu-button .btn-default:focus {
        background-color: transparent !important;
        color: #fff !important;
        border-color: transparent !important;
    }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: transparent !important;
    color: #fff !important;
    border-color: transparent !important;
}

.menu-button .level-one.dropdown-menu {
    top: 63px;
    left: initial;
    right: 0;
    width: 250px;
}

.menu-button .btn {
    font-size: 25px;
}

.menu-button.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.26);
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 26px;
        left: inherit;
        margin-top: -1px;
    }

.level-two.dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    margin-left: 15px;
}

.menu-button .dropdown-menu > li > a {
    padding: 15px 15px;
}

.search-input:focus {
    border-color: transparent;
    box-shadow: none;
}

.banner-image-container .search-button {
    transition: all 316.8ms ease-in-out;
}
