﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sangguniang Panlungsod ng Kidapawan</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <link rel="mask-icon" href="~/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#112e51">

    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/landing")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
</body>
</html>
