﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sangguniang Panlungsod ng Kidapawan</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/img/favicons/manifest.json">
    <link rel="mask-icon" href="~/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#112e51">

    <link href="~/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/style")

    @RenderSection("styles", false)
</head>
<body>
    <div class="landing-page">
        <div class="banner-image-container">
            <div class="container">
                <div class="banner-image-header">
                    <div class="row">
                        <nav class="navbar navbar-default navbar-static-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="/">
                                        <div class="logo-container">
                                            <span class="logo"></span>
                                            <span class="logo-title">
                                                SANGGUNIANG PANLUNGSOD
                                                <br />
                                                Kidapawan
                                            </span>
                                        </div>
                                    </a>

                                    <div class="btn-group menu-button hidden-lg">
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                        <ul class="level-one dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-submenu-a" href="#">ABOUT <span class="caret"></span></a>
                                                <ul class="level-two dropdown-menu">
                                                    <li><a href="#">Kidapawan City</a></li>
                                                    <li><a href="#">Directories</a></li>
                                                    <li><a href="#">Vision and Mission</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/officials">OFFICIALS</a></li>
                                            <li><a href="/officials/profile">SP SECRETARY</a></li>
                                            <li><a href="/news">NEWS</a></li>
                                            <li><a href="/gallery">GALLERY</a></li>
                                            <li><a href="/">NEWSLETTER</a></li>
                                            <li><a href="/">CONTACT US</a></li>
                                        </ul>
                                    </div>
                                </div>
                                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>*@
                                <div id="navbar" class="navbar-collapse visible-lg">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown nav-item">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Kidapawan City</a></li>
                                                <li><a href="#">Directories</a></li>
                                                <li><a href="#">Vision and Mission</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><a href="/officials">OFFICIALS</a></li>
                                        <li class="nav-item"><a href="/officials/profile">SP SECRETARY</a></li>
                                        <li class="nav-item"><a href="/news">NEWS</a></li>
                                        <li class="nav-item"><a href="/gallery">GALLERY</a></li>
                                        <li class="nav-item"><a href="/">NEWSLETTER</a></li>
                                        <li class="nav-item"><a href="/">CONTACT US</a></li>
                                        <li>
                                            <div class="search-form-container">
                                                <form class="search-form">
                                                    <input class="form-control search-input" type="search" placeholder="Search">
                                                </form>
                                            </div>
                                            <a class="search-button" href="#"><i class="fa fa-search"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            @RenderSection("profileBg", false)
            <div class="container content-body-container">
                @RenderBody()
            </div>
        </div>
        <div class="landing-page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer-logo visible-lg">

                                </div>
                                <div class="footer-logo-text">
                                    <p>
                                        <b>REPUBLIC OF THE PHILIPPINES</b>
                                        <br /><br />
                                        All content is in the public domain unless otherwise stated.
                                        <br /><br />
                                        <a href="http://www.gov.ph/about-this-website/privacy-policy/">Privacy Policy</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="visible-xs" style="height: 30px;"></span>
                    </div>
                    <div class="col-md-7">
                        <div class="footer-links">
                            <div class="row">
                                <div class="col-md-7">
                                    <ul class="about">
                                        <li>
                                            <b>ABOUT GOVPH</b>
                                            <br /><br />
                                            Learn more about the Philippine government, its structure, how government works and the people behind it.
                                            <br /><br />
                                            <br />
                                        </li>
                                        <li><a href="http://www.gov.ph/">Official Gazette</a></li>
                                        <li><a href="http://data.gov.ph/">Open Data Portal</a></li>
                                        <li>Send us your feedback</li>
                                    </ul>
                                </div>
                                <span class="visible-xs" style="height: 30px;"></span>
                                <div class="col-md-5">
                                    <ul class="gov">
                                        <li><b>GOVERNMENT LINKS</b><br /><br /></li>

                                        <li><a href="http://president.gov.ph/">The President</a></li>
                                        <li><a href="http://op-proper.gov.ph/">Office of the President</a></li>
                                        <li><a href="http://ovp.gov.ph/">Office of the Vice President</a></li>
                                        <li><a href="http://senate.gov.ph/">Senate of the Philippines</a></li>
                                        <li><a href="http://www.congress.gov.ph/">House of Representatives</a></li>
                                        <li><a href="http://sc.judiciary.gov.ph/">Supreme Court</a></li>
                                        <li><a href="http://ca.judiciary.gov.ph/">Court of Appeals</a></li>
                                        <li><a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
