﻿
@{
    ViewBag.Title = "Officials";
}

<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Officials<span class="visible-md-inline visible-lg-inline"> of the Sangguniang Panlungsod</span></span>
            </div>
            <div class="section-content">
                <div class="grid officials-grid hidden-xs" data-columns>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Juan Dela Cruz</h2>
                                <hr />
                                <p>Committee on Public Protection and Safety, Peace and Order</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Manuel Reyes</h2>
                                <hr />
                                <p>Committee on Laws, Human Rights and Justice</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Anabelle Soriano</h2>
                                <hr />
                                <p>Committee on Tourism, Special Events, Parks and Playgrounds</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Roberto Jimenez</h2>
                                <hr />
                                <p>Committee on Public Protection and Safety, Peace and Order</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Josephine Atienza</h2>
                                <hr />
                                <p>Committee on Laws, Human Rights and Justice</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Enrique Legaspi</h2>
                                <hr />
                                <p>Committee on Tourism, Special Events, Parks and Playgrounds</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Joel Santiago</h2>
                                <hr />
                                <p>Committee on Health and Sanitation, Ecology and Environmental Protection</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Alberta Natividad</h2>
                                <hr />
                                <p>Committee on Social Services, Women and Urban Poor</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row officials-grid visible-xs">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Juan Dela Cruz</h2>
                                <hr />
                                <p>Committee on Public Protection and Safety, Peace and Order</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Manuel Reyes</h2>
                                <hr />
                                <p>Committee on Laws, Human Rights and Justice</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Anabelle Soriano</h2>
                                <hr />
                                <p>Committee on Tourism, Special Events, Parks and Playgrounds</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Roberto Jimenez</h2>
                                <hr />
                                <p>Committee on Public Protection and Safety, Peace and Order</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Josephine Atienza</h2>
                                <hr />
                                <p>Committee on Laws, Human Rights and Justice</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Enrique Legaspi</h2>
                                <hr />
                                <p>Committee on Tourism, Special Events, Parks and Playgrounds</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Joel Santiago</h2>
                                <hr />
                                <p>Committee on Health and Sanitation, Ecology and Environmental Protection</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="thumbnail-profile-picture" style="background-image:url(../img/blank-profile-placeholder.png)"></div>
                            <div class="caption text-center">
                                <h2>Hon. Alberta Natividad</h2>
                                <hr />
                                <p>Committee on Social Services, Women and Urban Poor</p>
                                <div class="thumbnail-button-container"><a href="/officials/profile" class="btn btn-primary" role="button">View Profile</a> <a href="#" class="btn btn-default" role="button">Share</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/bower_components/salvattore/dist/salvattore.js"></script>
}