﻿
@{
    ViewBag.Title = "Profile";
}

@section profileBg {
    <div class="profile-info-header-bg">
        <div class="container">
            <div class="row profile-info-header-container">
                <div class="profile-info-header">
                    <div class="col-sm-3">
                        <div class="profile-picture-container">
                            <a href="#" class="thumbnail">
                                <div class="profile-picture" style="background-image: url(../img/blank-profile-placeholder.png);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-9 profile-info-container">
                        <div class="profile-info">
                            <div class="name">
                                <span>Hon. Juan Dela Cruz</span>
                            </div>
                            <div class="committee">
                                <span>Committee on Market, Trade, Commerce and Agriculture</span>
                            </div>
                            <div class="contacts-info">
                                <span class="info"><i class="fa fa-envelope"></i><span class="info-text">juandelacruz@email.com</span></span>
                                <span class="info"><i class="fa fa-phone"></i><span class="info-text">0977 123 4567</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Programs and Projects</span>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/1.jpg);"></div>
                            <div class="caption">
                                <h3 class="truncate">This is a very long album name. This is a very long album name. hgfhfhfhg hfdhj hd hfc d gh</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Vestibulum vestibulum, orci non egestas consequat, ipsum nisi aliquam neque, commodo facilisis arcu mi sed ante.</p>
                                <p class="card-buttons"><a href="#" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/2.jpg);"></div>
                            <div class="caption">
                                <h3>Project Two</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Vestibulum vestibulum, orci non egestas consequat, ipsum nisi aliquam neque, commodo facilisis arcu mi sed ante.</p>
                                <p class="card-buttons"><a href="#" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="thumbnail-img" style="background-image: url(../img/albums/3.jpg);"></div>
                            <div class="caption">
                                <h3>Project Three</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et egestas est. Nulla a risus diam. Donec hendrerit eleifend condimentum. Vestibulum vestibulum, orci non egestas consequat, ipsum nisi aliquam neque, commodo facilisis arcu mi sed ante.</p>
                                <p class="card-buttons"><a href="#" class="btn btn-primary" role="button">View Photos</a> <a href="#" class="btn btn-default" role="button">Share</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Resolutions</span>
            </div>
            <div class="section-content">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">RESOLUTION N0. 12, Series of 2014</h4>
                        <p class="list-group-item-text">RESOLUTION RATIFYING AND APPROVING THE MEMORANDUM OF AGREEMENT, DATED JANUARY 13, 2014, ENTERED INTO BY AND BETWEEN MSR HEALTH CARE INCORPORATED, DULY REPRESENTED BY ITS PRESIDENT, JUAN A. MARQUEZ, AND THE CITY OF MANILA, DULY REPRESENTED BY MAYOR JOSE DIAZ.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">RESOLUTION N0. 19, Series of 2014</h4>
                        <p class="list-group-item-text">RESOLUTION AFFIRMING THE CONTRACT ENTERED INTO BY AND BETWEEN THE CITY GOVERNMENT OF KIDAPAWAN AND ABC CONSTRUCTION AND DEVELOPMENT CORPORATION FOR THE COLLECTION AND DISPOSAL OF SOLID WASTE FROM JANUARY 7 TO DECEMBER 31, 2014 IN THE AMOUNT   OF   FIVE HUNDRED   TWELVE   MILLION   FIVE   HUNDRED  SIXTY-THREE  THOUSAND  NINE  HUNDRED    SIXTY-EIGHT PESOS  (PHP 512,563,968.00), DESCRIBED AS DOCUMENT NO. 405; PAGE NO. 82; BOOK NO. V; SERIES OF 2014, IN THE NOTARIAL REGISTRY OF  ATTY. SALVADOR V. RUIZ, NOTARY PUBLIC FOR AND IN THE CITY OF KIDAPAWAN.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">RESOLUTION N0. 26, Series of 2014</h4>
                        <p class="list-group-item-text">RESOLUTION ADOPTING THE LOCAL POVERTY REDUCTION PLAN OF THE CITY OF KIDAPAWAN BY THE CIVIL SOCIETY ORGANIZATIONS AND NON-GOVERNMENTAL ORGANIZATIONS.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Ordinances</span>
            </div>
            <div class="section-content">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ORDINANCE NO. 07, Series of 2013</h4>
                        <p class="list-group-item-text">AN ORDINANCE PROVIDING FOR A COMPREHENSIVE POLICY FOR THE RESPECT, PROMOTION, FULFILLMENT AND PROTECTION OF CHILDREN’S RIGHTS, ENHANCEMENT OF SUPPORT SYSTEM AND MECHANISM, AND FOR OTHER PURPOSES.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ORDINANCE NO. 18, Series of 2013</h4>
                        <p class="list-group-item-text">AN ORDINANCE MAINSTREAMING AND INTEGRATING CLIMATE CHANGE ADAPTATION AND MITIGATION INTO THE LOCAL GOVERNMENT OF KIDAPAWAN CITY'S POLICY FORMULATION AND FOR OTHER PURPOSES.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ORDINANCE NO. 03, Series of 2014</h4>
                        <p class="list-group-item-text">AN ORDINANCE REGULATING THE USE OF PLASTIC BAGS AND EXPANDED POLYSTERENE (STYROFOAM) FOOD SERVICE CONTAINERS IN THE CITY OF KIDAPAWAN AND PROVIDING PENALTIES FOR VIOLATION THEREOF.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ORDINANCE NO. 11, Series of 2014</h4>
                        <p class="list-group-item-text">AN ORDINANCE DECLARING THE AREA KNOWN AS SEAWARD SITUATED OPPOSITE OF MAYUMI BEACH RESORT IN BARANGAY 123, THIS CITY, CONTAINING AN AREA OF 1.2612 HECTARES, AS MARINE PROTECTED AREA.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ORDINANCE NO. 26, Series of 2015</h4>
                        <p class="list-group-item-text">AN ORDINANCE ESTABLISHING THE KIDAPAWAN CITY PLASTIC RECYCLING FACILITY WITHIN THE SANITARY LANDFILL COMPLEX, PRESCRIBING GUIDELINES ON ITS OPERATION AND PROVIDING FUNDS THEREOF.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles {
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
}