﻿
@{
    ViewBag.Title = "Index";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Title</h3>

        @{ Html.RenderPartial("_BoxTools"); }
    </div>
    <div class="box-body">
        Start creating your amazing application!
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
</div>

@section contentHeader {
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}