﻿@{
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
    ViewBag.Title = "Home";
}

<div class="landing-page">
    <div class="banner-image-container">
        <div class="container">
            <div class="banner-image-header">
                <div class="row">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="/">
                                    <div class="logo-container">
                                        <span class="logo"></span>
                                        <span class="logo-title">
                                            SANGGUNIANG PANLUNGSOD
                                            <br />
                                            Kidapawan
                                        </span>
                                    </div>
                                </a>

                                <div class="btn-group menu-button hidden-lg">
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <ul class="level-one dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-submenu-a" href="#">ABOUT <span class="caret"></span></a>
                                            <ul class="level-two dropdown-menu">
                                                <li><a href="#">Kidapawan City</a></li>
                                                <li><a href="#">Directories</a></li>
                                                <li><a href="#">Vision and Mission</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/officials">OFFICIALS</a></li>
                                        <li><a href="/officials/profile">SP SECRETARY</a></li>
                                        <li><a href="/news">NEWS</a></li>
                                        <li><a href="/gallery">GALLERY</a></li>
                                        <li><a href="/">NEWSLETTER</a></li>
                                        <li><a href="/">CONTACT US</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse visible-lg">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown nav-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Kidapawan City</a></li>
                                            <li><a href="#">Directories</a></li>
                                            <li><a href="#">Vision and Mission</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a href="/officials">OFFICIALS</a></li>
                                    <li class="nav-item"><a href="/officials/profile">SP SECRETARY</a></li>
                                    <li class="nav-item"><a href="/news">NEWS</a></li>
                                    <li class="nav-item"><a href="/gallery">GALLERY</a></li>
                                    <li class="nav-item"><a href="/">NEWSLETTER</a></li>
                                    <li class="nav-item"><a href="/">CONTACT US</a></li>
                                    <li>
                                        <div class="search-form-container">
                                            <form class="search-form">
                                                <input class="form-control search-input" type="search" placeholder="Search">
                                            </form>
                                        </div>
                                        <a class="search-button" href="#"><i class="fa fa-search"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="welcome-text">
            <h2>Welcome to the official website of the<br />Sangguniang Panlungsod ng Kidapawan</h2>
        </div>
    </div>
    <div class="vm-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="vm-profile-picture" style="background:url(/img/blank-profile-placeholder.png); background-size: cover; background-repeat: no-repeat;">

                                    </div>
                                    <div class="vm-profile-link">
                                        <a class="btn btn-lg btn-block btn-primary" href="">View Profile</a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="vm-title">
                                        <span>Hon. Juan Dela Cruz</span>
                                        <p>Vice Mayor of Kidapawan City</p>
                                    </div>
                                    <blockquote class="blockquote-reverse">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lorem ut erat semper, vel dictum nunc rhoncus. Aliquam sed mauris interdum, porta nunc sit amet, sagittis libero. Duis enim nisi, aliquam sit amet fermentum vel, aliquam eu augue. Donec tincidunt ex ullamcorper, ultrices nibh vel, pulvinar lectus. Nam sit amet scelerisque ante. In tempor pretium ante, sed dignissim est aliquet id. Fusce maximus elit diam, a maximus metus vulputate sed. In lobortis accumsan lorem, in sagittis eros rhoncus et. Proin lectus justo, finibus at sem eu, scelerisque ultricies ipsum. Suspendisse laoreet arcu et lorem interdum euismod. Proin eu dictum arcu."</p>
                                        <footer>Vice Mayor Juan Dela Cruz</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="container content-body-container">
            @*<div class="row">
                <div class="col-md-12">
                    <div class="section">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="vm-profile-picture" style="background:url(/img/vm-pp.jpg); background-size: cover; background-repeat: no-repeat;">

                                    </div>
                                    <div class="vm-profile-link">
                                        <a class="btn btn-lg btn-block btn-primary" href="">View Profile</a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="vm-title">
                                        <span>Hon. Juan Dela Cruz</span>
                                        <p>Vice Mayor of Kidapawan City</p>
                                    </div>
                                    <blockquote class="blockquote-reverse">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lorem ut erat semper, vel dictum nunc rhoncus. Aliquam sed mauris interdum, porta nunc sit amet, sagittis libero. Duis enim nisi, aliquam sit amet fermentum vel, aliquam eu augue. Donec tincidunt ex ullamcorper, ultrices nibh vel, pulvinar lectus. Nam sit amet scelerisque ante. In tempor pretium ante, sed dignissim est aliquet id. Fusce maximus elit diam, a maximus metus vulputate sed. In lobortis accumsan lorem, in sagittis eros rhoncus et. Proin lectus justo, finibus at sem eu, scelerisque ultricies ipsum. Suspendisse laoreet arcu et lorem interdum euismod. Proin eu dictum arcu."</p>
                                        <footer>Vice Mayor Juan Dela Cruz</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-8">
                    <div class="section">
                        <div class="section-title">
                            <span>Featured</span>
                        </div>
                        <div class="section-content">
                            <div class="featured-news-image" style="background-image: url(../img/featured.jpg);">
                            </div>
                            <div class="featured-news-container">
                                <div class="featured-news-title">
                                    <a href="#">Nam efficitur sit amet diam eu vulputate</a>
                                </div>
                                <div class="featured-news-description">
                                    <p>
                                        Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit. Morbi sem urna, porta in varius ut, tristique dictum elit. Aliquam erat volutpat.
                                    </p>
                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="section">
                        <div class="section-title">
                            <span>What's New</span>
                        </div>
                        <div class="section-content">
                            <div class="news-container">
                                <div class="news-title">
                                    <a href="#">Nam efficitur sit amet diam eu vulputate</a>
                                </div>
                                <div class="news-description">
                                    <p>
                                        Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                    </p>
                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                </div>
                            </div>
                            <hr />
                            <div class="news-container">
                                <div class="news-title">
                                    <a href="#">Nam efficitur sit amet diam eu vulputate</a>
                                </div>
                                <div class="news-description">
                                    <p>
                                        Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                    </p>
                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                </div>
                            </div>
                            <hr />
                            <div class="news-container">
                                <div class="news-title">
                                    <a href="#">Nam efficitur sit amet diam eu vulputate</a>
                                </div>
                                <div class="news-description">
                                    <p>
                                        Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                    </p>
                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="section">
                        <div class="section-title">
                            <span>Announcements</span>
                        </div>
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="expo-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit lorem ut erat semper, vel dictum nunc rhoncus. Aliquam sed mauris interdum, porta nunc sit amet, sagittis libero. Duis enim nisi, aliquam sit amet fermentum vel, aliquam eu augue. Donec tincidunt ex ullamcorper, ultrices nibh vel, pulvinar lectus.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="expo-desc">
                                        <p>
                                            Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit. Morbi sem urna, porta in varius ut, tristique dictum elit. Aliquam erat volutpat. Donec porta, nunc porttitor viverra eleifend, lacus ex tincidunt neque, nec molestie leo ipsum condimentum nunc.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="expo-desc">
                                        <p>
                                            Donec tincidunt mollis placerat. Ut accumsan gravida odio, vitae aliquam turpis cursus in. Cras aliquet sem quis risus rutrum volutpat. Ut volutpat dui nibh, vitae feugiat ex fringilla sodales. Donec faucibus erat at bibendum condimentum. In finibus mollis tellus non tristique. Phasellus neque tellus, hendrerit eu dictum at, efficitur non leo. Pellentesque ut venenatis ligula.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-logo visible-lg">

                            </div>
                            <div class="footer-logo-text">
                                <p>
                                    <b>REPUBLIC OF THE PHILIPPINES</b>
                                    <br /><br />
                                    All content is in the public domain unless otherwise stated.
                                    <br /><br />
                                    <a href="http://www.gov.ph/about-this-website/privacy-policy/">Privacy Policy</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <span class="visible-xs" style="height: 30px;"></span>
                </div>
                <div class="col-md-7">
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-md-7">
                                <ul class="about">
                                    <li>
                                        <b>ABOUT GOVPH</b>
                                        <br /><br />
                                        Learn more about the Philippine government, its structure, how government works and the people behind it.
                                        <br /><br />
                                        <br />
                                    </li>
                                    <li><a href="http://www.gov.ph/">Official Gazette</a></li>
                                    <li><a href="http://data.gov.ph/">Open Data Portal</a></li>
                                    <li>Send us your feedback</li>
                                </ul>
                            </div>
                            <span class="visible-xs" style="height: 30px;"></span>
                            <div class="col-md-5">
                                <ul class="gov">
                                    <li><b>GOVERNMENT LINKS</b><br /><br /></li>

                                    <li><a href="http://president.gov.ph/">The President</a></li>
                                    <li><a href="http://op-proper.gov.ph/">Office of the President</a></li>
                                    <li><a href="http://ovp.gov.ph/">Office of the Vice President</a></li>
                                    <li><a href="http://senate.gov.ph/">Senate of the Philippines</a></li>
                                    <li><a href="http://www.congress.gov.ph/">House of Representatives</a></li>
                                    <li><a href="http://sc.judiciary.gov.ph/">Supreme Court</a></li>
                                    <li><a href="http://ca.judiciary.gov.ph/">Court of Appeals</a></li>
                                    <li><a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>