﻿
@{
    ViewBag.Title = "Article";
}

<div class="row">
    <div class="col-md-12">
        <div class="article-section">
            <div class="article-title-container">
                <span class="article-title">Kidapawan to relaunch task group to make city ‘hardened target’</span>
                <p class="article-short-desc">The relaunch of TG Kidapawan was timed for the city’s upcoming weeklong 70th foundation anniversary, which falls on August 18.</p>
                <p class="article-author">By Juan Dela Cruz / August 17, 2017 5:00 PM</p>
                <div class="sharing-options">
                    <button type="button" class="btn btn-facebook">
                        <i class="fa fa-facebook left"></i> <span class="hidden-sm hidden-xs">Facebook</span>
                    </button>
                    <button type="button" class="btn btn-twitter">
                        <i class="fa fa-twitter left"></i> <span class="hidden-sm hidden-xs">Twitter</span>
                    </button>
                    <button type="button" class="btn btn-gplus">
                        <i class="fa fa-google-plus left"></i> <span class="hidden-sm hidden-xs">Google+</span>
                    </button>
                    <button type="button" class="btn btn-email">
                        <i class="fa fa-envelope left"></i> <span class="hidden-sm hidden-xs">Email</span>
                    </button>
                </div>
            </div>
            <div class="article-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="article-content-featured-image-container">
                            <div class="article-content-featured-image" style="background:url(/img/news/1.jpg); background-size: cover; background-repeat: no-repeat;">

                            </div>
                        </div>
                        <div class="article-content-body">
                            <p>KIDAPAWAN CITY - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend cursus eros vitae fringilla. Sed vulputate quam egestas, ultricies neque in, pulvinar nisl. Nam malesuada, sapien sit amet egestas bibendum, dolor risus lobortis sem, nec sollicitudin diam nulla quis leo. Sed vitae consectetur lectus. Fusce elementum tempor sem, sed iaculis ante tempor ac. Phasellus cursus tristique neque in facilisis. Suspendisse vel dolor elit. Etiam sodales diam suscipit turpis posuere varius. Donec cursus a risus nec luctus. Sed sodales neque eu mi eleifend, ac rhoncus lectus laoreet. Phasellus in magna sollicitudin nunc elementum commodo. Curabitur finibus magna nisl, eu vestibulum ligula lacinia in.</p>

                            <p>Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut volutpat consequat efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus, lacus non lacinia efficitur, metus tellus sollicitudin orci, sit amet maximus nisl arcu eu mauris. Aenean id nulla nec eros sodales ultrices. Nunc sagittis fringilla ante, quis ultrices odio volutpat eget.</p>

                            <p>Cras lectus velit, venenatis sed urna at, consequat maximus sapien. Aliquam egestas aliquam tincidunt. Fusce aliquet tristique interdum. Proin ut nulla ut orci elementum varius ac nec diam. Cras porta justo id iaculis congue. Aliquam lectus felis, tincidunt sed sodales ut, finibus nec tortor. Aenean sodales convallis velit, et pretium urna hendrerit eget. Maecenas finibus quis ex vitae vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla sit amet finibus libero. Praesent tincidunt nunc efficitur, egestas metus eu, pharetra tortor. Pellentesque iaculis magna in libero iaculis blandit. Phasellus pretium varius eleifend. Nulla orci turpis, fringilla sed dui dignissim, vulputate pulvinar nulla. Nulla eu eros faucibus, suscipit sem non, egestas felis. Duis pretium eros ut urna fringilla, ac dapibus metus placerat.</p>

                            <p>Duis vel venenatis tellus. Praesent tempus tincidunt lacus, ut convallis mauris placerat vitae. Praesent et orci vitae augue rhoncus venenatis sit amet accumsan nibh. Proin tempor faucibus nisl, ut iaculis justo porttitor quis. Aliquam enim metus, scelerisque non efficitur nec, luctus et felis. Curabitur vitae varius diam, luctus dignissim urna. Aliquam felis nibh, molestie sit amet tristique ut, malesuada ut ipsum. Donec elementum, est sit amet pretium venenatis, felis purus viverra libero, quis finibus arcu mauris et tortor. Donec quis odio eget diam elementum vulputate eu eget lorem.</p>

                            <p>Quisque molestie, leo et iaculis viverra, tellus nunc tincidunt quam, quis molestie enim sem ac nisl. Morbi finibus lorem ac diam suscipit placerat. Donec nec turpis elit. In interdum ante at pharetra imperdiet. Quisque scelerisque eros velit, id ornare turpis cursus vitae. Donec sed ante vel metus ultricies dapibus. Nunc tempus eu nisl et tempus. Aenean faucibus quam eget magna aliquam, sit amet condimentum velit blandit.</p>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="row hidden-sm hidden-xs">
                            <div class="col-md-12">
                                <div class="article-section">
                                    <div class="section-title">
                                        <span>Latest</span>
                                    </div>
                                    <div class="section-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row hidden-sm hidden-xs">
                            <div class="col-md-12">
                                <div class="article-section">
                                    <div class="section-title">
                                        <span>Trending</span>
                                    </div>
                                    <div class="section-content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="news-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="news-container">
                                                                <div class="news-title">
                                                                    <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                                                </div>
                                                                <div class="news-description">
                                                                    <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>Comments</span>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div id="disqus_thread"></div>
                        <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function () { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://spkidapawan.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>