﻿
@{
    ViewBag.Title = "News";
}

<div class="row">
    <div class="col-md-6">
        <div class="section">
            <div class="section-title">
                <span>Featured</span>
            </div>
            <div class="section-content">
                <div class="featured-news-image" style="background-image: url(../img/news/1.jpg);">
                </div>
                <div class="featured-news-container">
                    <div class="featured-news-title">
                        <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                    </div>
                    <div class="featured-news-description">
                        <p>
                            Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit. Morbi sem urna, porta in varius ut, tristique dictum elit. Aliquam erat volutpat.
                        </p>
                        <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="section-right">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-5">
                        <div class="news-image" style="background-image: url(../img/news/2.jpg);"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="news-container">
                            <div class="news-title">
                                <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                            </div>
                            <div class="news-description">
                                <p>
                                    Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                </p>
                                <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <div class="news-image" style="background-image: url(../img/news/3.jpg);"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="news-container">
                            <div class="news-title">
                                <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                            </div>
                            <div class="news-description">
                                <p>
                                    Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                </p>
                                <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <div class="news-image" style="background-image: url(../img/news/4.jpg);"></div>
                    </div>
                    <div class="col-md-7">
                        <div class="news-container">
                            <div class="news-title">
                                <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                            </div>
                            <div class="news-description">
                                <p>
                                    Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                </p>
                                <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="section">
            <div class="section-title">
                <span>What's New</span>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="news-image" style="background-image: url(../img/news/5.jpg);"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="news-container">
                                        <div class="news-title">
                                            <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                        </div>
                                        <div class="news-description">
                                            <p>
                                                Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                            </p>
                                            <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="news-image" style="background-image: url(../img/news/6.jpg);"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="news-container">
                                        <div class="news-title">
                                            <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                        </div>
                                        <div class="news-description">
                                            <p>
                                                Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                            </p>
                                            <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="news-image" style="background-image: url(../img/news/7.jpg);"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="news-container">
                                        <div class="news-title">
                                            <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                        </div>
                                        <div class="news-description">
                                            <p>
                                                Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                            </p>
                                            <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-item">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="news-image" style="background-image: url(../img/news/8.jpg);"></div>
                                </div>
                                <div class="col-md-7">
                                    <div class="news-container">
                                        <div class="news-title">
                                            <a href="/news/article">Nam efficitur sit amet diam eu vulputate</a>
                                        </div>
                                        <div class="news-description">
                                            <p>
                                                Sed nec suscipit lorem. Morbi tincidunt arcu sed posuere pulvinar. Donec nibh augue, elementum a diam eget, sagittis pellentesque urna. Nulla vehicula ante ut augue posuere suscipit.
                                            </p>
                                            <small class="timestamp">5h ago, Aug. 11, 2017 5:00 PM</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>